<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/header :: head('About Cooper')"></head>

<body>

<nav th:replace="partials/navbar :: navbar"></nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../../assets/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small" />
                        <span class="subheading">I am a software developer that is proud to take part in
                    the exchange of ideas. I believe that the dedication of
                    the human spirit and the limitations of a person’s own
                    mind are the only barriers in software development. I
                    thrive using ever-evolving suite of tools in order to
                    make real software solutions to enrich the world
                    around me.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Below is my resume that I update frequently. You may take a copy of it, or you may also save it.</p>
                <p>All links within the PDF are linked to my GitHub.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <embed style="height: 60em; width: 125%; margin-left: -12.5%;" src="../assets/pdf/resume.pdf" type="application/pdf" />
            </div>
        </div>
    </div>

    <hr />

    <!-- Footer -->
    <footer th:replace="partials/footer :: footer"></footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Contact Form JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.7/jqBootstrapValidation.min.js"></script>
<script src="../assets/js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="../assets/js/clean-blog.min.js"></script>

</body>

</html>
